<div id="<%= dom_id coffee_purchase %>">
  <p>
    <strong>Price:</strong>
    <%= coffee_purchase.price %>
  </p>

  <p>
    <strong>Purchased at:</strong>
    <%= coffee_purchase.purchased_at %>
  </p>

</div>
