<div id="<%= dom_id coffee_purchase %>">  <%-# This div holds the id of the cofee purchase%>

  <h5 class="card-title">
    €<%= coffee_purchase.price %>  <%-# This variable will display the price of the coffee purchase%>
  </h5>

  <h6 class="card-subtitle mb-2 text-body-secondary">
    <%= coffee_purchase.purchased_at %>  <%-# This variable will display the date and time at which the cofee was purchased%>
  </h6>

</div>
