<h1>Editing coffee purchase</h1>

<%= render "form", coffee_purchase: @coffee_purchase %>

<br>

<div>
  <%= link_to "Show this coffee purchase", @coffee_purchase %> |
  <%= link_to "Back to coffee purchases", coffee_purchases_path %>
</div>
