<div class="container text-center">
  <h1>Editing coffee purchase</h1>

  <%= render "form", coffee_purchase: @coffee_purchase %>

  <br>

  <div class="btn-group">
    <%= link_to "Show this coffee purchase", @coffee_purchase, class:"btn btn-outline-primary" %>
    <%= link_to "Back to coffee purchases", coffee_purchases_path, class:"btn btn-outline-primary" %>
  </div>
</div>
