<div class="container text-center">
  <h1>New coffee purchase</h1>
  <%-# This is the part that is rendering the new entry form for coffee purchases to add new purchase%>
  <%= render "form", coffee_purchase: @coffee_purchase %> 

  <br>

  <div class="btn-group">
    <%-# Button that redirects back to the main page with all the coffee purchases%>
    <%= link_to "Back to coffee purchases", coffee_purchases_path, class:"btn btn-outline-primary" %> 
  </div>
</div>